<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ag" />
  <package id="chocolatey" />
  <package id="chocolatey-core.extension" />
  <package id="chocolatey-windowsupdate.extension" />
  <package id="chocolateygui" />
  <package id="fd" />
  <package id="ffmpeg" />
  <package id="fzf" />
  <package id="neovim" />
  <package id="NugetPackageExplorer" />
  <package id="youtube-dl" />
  <package id="dotnetcore-sdk" />
  <package id="firefox" />
  <package id="atom" />
  <package id="notepadplusplus" />
  <package id="conemu" />
  <package id="keepassx" />
  <package id="google-backup-and-sync" />
  <package id="pandoc" />
  <package id="graphviz.portable" />
  <package id="slack" />
  <package id="git" />
  <package id="poshgit" />
</packages>
